{% extends 'base.html.twig' %}

{% block title %}AnalyseAI index{% endblock %}

{% block body %}
    <h1>AnalyseAI index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PatientId</th>
                <th>RendezVousId</th>
                <th>Symptomes</th>
                <th>NiveauRisque</th>
                <th>SpecialiteRecomandee</th>
                <th>DecisionProposee</th>
                <th>CreatedAt</th>
                <th>NotesAI</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for analyse_a_i in analyse_a_is %}
            <tr>
                <td>{{ analyse_a_i.id }}</td>
                <td>{{ analyse_a_i.patientId }}</td>
                <td>{{ analyse_a_i.rendezVousId }}</td>
                <td>{{ analyse_a_i.symptomes }}</td>
                <td>{{ analyse_a_i.niveauRisque }}</td>
                <td>{{ analyse_a_i.specialiteRecomandee }}</td>
                <td>{{ analyse_a_i.decisionProposee }}</td>
                <td>{{ analyse_a_i.createdAt ? analyse_a_i.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ analyse_a_i.notesAI }}</td>
                <td>
                    <a href="{{ path('app_analyse_a_i_show', {'id': analyse_a_i.id}) }}">show</a>
                    <a href="{{ path('app_analyse_a_i_edit', {'id': analyse_a_i.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_analyse_a_i_new') }}">Create new</a>
{% endblock %}
