{% extends 'base.html.twig' %}

{% block title %}Hopital index{% endblock %}

{% block body %}
    <h1>Hopital index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Tel</th>
                <th>ServiceUrgenceDispo</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Capacite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hopital in hopitals %}
            <tr>
                <td>{{ hopital.id }}</td>
                <td>{{ hopital.nom }}</td>
                <td>{{ hopital.adresse }}</td>
                <td>{{ hopital.tel }}</td>
                <td>{{ hopital.serviceUrgenceDispo ? 'Yes' : 'No' }}</td>
                <td>{{ hopital.latitude }}</td>
                <td>{{ hopital.longitude }}</td>
                <td>{{ hopital.capacite }}</td>
                <td>
                    <a href="{{ path('app_hopital_show', {'id': hopital.id}) }}">show</a>
                    <a href="{{ path('app_hopital_edit', {'id': hopital.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hopital_new') }}">Create new</a>
{% endblock %}
